.navbar-brand {
    font-size: 1.5rem;
    color: black;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: black;
}

.nav-link:hover, .navbar-brand:hover {
    color: #258cfb;
}

.navbar-brand:hover #icon {
    filter: brightness(0) saturate(100%) invert(35%) sepia(90%) saturate(1509%) hue-rotate(200deg) brightness(109%) contrast(97%);
}